<div id="playboard">
    <div class="top-row">
        <div id="crash">
            <button id="crashhit" class="animated pulse infinite" ng-click="dc.hitCrash()"></button>
            <img src="crash.gif" alt="crash">
        </div>
        <div id="toms">
            <button id="tomonehit" class="animated pulse infinite" ng-click="dc.hitTomOne()"></button>
            <button id="tomtwohit" class="animated pulse infinite" ng-click="dc.hitTomTwo()"></button>
            <img src="toms.gif" alt="toms">
        </div>
        <div id="ride">
            <button id="ridehit" class="animated pulse infinite" ng-click="dc.hitRide()"></button>
            <img src="ride.gif" alt="ride">
        </div>

    </div>
    <div class="bottom-row">
        <div id="hihat">
            <button id="hihathit" class="animated pulse infinite" ng-click="dc.hitHiHat()"></button>
            <img src="hihat.gif" alt="hi hat">
        </div>
        <div id="snare">
            <button id="snarehit" class="animated pulse infinite" ng-click="dc.hitSnare()"></button>
            <img src="snare.gif" alt="snare">
        </div>
        <div id="kick">
            <button id="kickhit" class="animated pulse infinite" ng-click="dc.hitKick()"></button>
            <img src="kickdrum.png" alt="kick">
        </div>
        <div id="floortom">
            <button id="floortomhit" class="animated pulse infinite" ng-click="dc.hitFloorTom()"></button>
            <img src="floortom.gif" alt="floor tom">
        </div>
    </div>
    <!--<div class="hit" id="kick"></div>
    <div class="hit" id="firsttom"></div>
    <div class="hit" id="secondtom"></div>
    <div class="hit" id="crash"></div>
    <div class="hit" id="ride"></div>-->
</div>