<nav-component></nav-component>




<div class="container site-wrap">
    
        <img class="playboard" src="images/drums.png" alt="">
            <div class="record">
                <button style="margin-bottom: 12px" <i class="fa fa-angle-double-left animated pulse infinite" aria-hidden="true" ng-click="dc.openNav()"></i>Record</button>
                <p style="text-align: center; color: white">Coming Soon!</p>
            </div>
            <div class="sounds">
                <button class="animated pulse infinite" ng-click="dc.openNavTwo()">Sounds<i class="fa fa-angle-double-right"></i></button>
                <p style="text-align: center; color: white">Coming Soon!</p>
            </div>
            <div class="hit hihathit">
                <button class="audio animated pulse infinite" ng-audio="sounds/hihat.mp3" start="0.1"></button>
            </div>
            <div class="hit kickhit">
                <button class="audio animated pulse infinite" ng-audio="sounds/kickdrum.mp3" start="0.1"></button>
            </div>
            <div class="hit snarehit">
                <button class="audio animated pulse infinite" ng-audio="sounds/snare.mp3" start="0.1"></button>
            </div>
            <div class="hit tomonehit">
                <button class="audio animated pulse infinite" ng-audio="sounds/tomone.mp3" start="0.1"></button>
            </div>
            <div class="hit tomtwohit">
                <button class="audio animated pulse infinite" ng-audio="sounds/tomtwo.mp3" start="0.1"></button>
            </div>
            <div class="hit floortomhit">
                <button class="audio animated pulse infinite" ng-audio="sounds/floortom.mp3" start="0.1"></button>
            </div>
            <div class="hit crashhit">
                <button class="audio animated pulse infinite" ng-audio="sounds/crash.mp3" start="0.1"></button>
            </div>
            <div class="hit ridehit">
                <button class="audio animated pulse infinite" ng-audio="sounds/ride.mp3" start="0.1"></button>
            </div>
            <div class="hit cowbell">
                <button class="audio animated pulse infinite" ng-audio="sounds/cowbell.mp3" start="0.1"></button>
            </div>
</div>
    
    <!--<div class="audio">
        <button style="margin-right: 10px">Record</button>
        <button>Play</button>
    </div>-->

            
               









<!--<div id="playboard">
    <div style="margin-top: 10%; margin-left: 5px" class="row">
        <div id="hihat">
            <img src="hihat.gif" alt="hi hat">
        </div>
        <div id="crash">
            <img src="crash.gif" alt="crash">
        </div>
        <div id="snare">
            <img src="snare.gif" alt="snare">
        </div>
    </div>
    <div class="center-row">
        <div id="toms">
            <img src="toms.gif" alt="toms">
        </div>
        <div id="kick">
            <img src="kickdrum.png" alt="kick">
        </div>
    </div>
    <div class="row">
        <div id="ride">
            <img src="ride.gif" alt="ride">
        </div>
        <div id="floortom">
            <img src="floortom.gif" alt="floor tom">
        </div>
    </div>

</div>-->