<div id="mySidenav" class="sidenav sidenavone">
<a href="javascript:void(0)" class="closebtn" ng-click="nc.closeNav()">&times;</a>
    <ul>
        <li class="nav-item"><button>Record</button></li>
        <li class="nav-item"><button>Play</button></li>
    </ul>
</div>

<div id="mySidenavTwo" class="sidenav sidenavtwo">
<a href="javascript:void(0)" class="closebtn" ng-click="nc.closeNavTwo()">&times;</a>
    <ul>
        <li class="nav-item"><button>Sounds</button></li>
        <li class="nav-item"><button>More Sounds</button></li>
        <li class="nav-item"><button>And More</button></li>
    </ul>
</div>